.distributors {
  display: none;

  @media (max-width: $mob-size) {
    display: block;
    height: 560px;
    padding: 25px;

    h1 {
      font-size: 33px;
      font-weight: bold;
      line-height: 35px;
      text-transform: uppercase;

      span {
        color: var(--iqwik-yellow);
      }
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 20px;
    }

    h5 {
      margin: 0;
      font-size: 17px;
      line-height: 22px;
    }

    .distributorsSwiper {
      height: 100%;
    }
  }
}
